trigger:
- main

pool:
  vmImage: windows-latest

jobs:
- job: load_test
  displayName: Load Test  # change later to windows-latest / macos-latest

  steps:
  - checkout: self

  # =========================
  # UNIX (Linux + macOS)
  # =========================
  - bash: |
      echo "Running on Unix agent: $(uname -s)"

      OS="$(uname -s)"
      ARCH="$(uname -m)"

      [[ "$OS" == "Darwin" ]] && OS="macos" || OS="linux"
      [[ "$ARCH" == "arm64" ]] && ARCH="arm64" || ARCH="x64"

      DOWNLOAD_URL="https://load-api.browserstack.com/api/v1/binary?os=${OS}&arch=${ARCH}"
          
      echo "OS=$OS | ARCH=$ARCH | DOWNLOAD_URL=$DOWNLOAD_URL"
      echo "Downloading Browserstack Binary..."
      
      curl -fL "$DOWNLOAD_URL" -o browserstack-cli.zip
      unzip -oq browserstack-cli.zip
      chmod +x browserstack-cli

      # Download Sample Tests (Remove if you have your own)
      curl -L https://github.com/browserstack/browserstack-playwright-load-testing-sample/archive/refs/heads/CI/CD-Sample-Playwright.tar.gz \
        | tar -xz --strip-components=1
      
      ./browserstack-cli load run --projectName="Thresholds Sanity" --entityName="Scam Test"
    displayName: Unix Download & Run BrowserStack Binary
    condition: ne(variables['Agent.OS'], 'Windows_NT')
    env:
      BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
      BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)

  # =========================
  # WINDOWS
  # =========================
  - pwsh: |
      Write-Host "Running on Windows agent"

      $downloadUrl = "https://load-api.browserstack.com/api/v1/binary?os=win&arch=x64"
      Write-Host "Downloading Browserstack Binary..."

      Invoke-WebRequest -Uri "${downloadUrl}" -OutFile "browserstack-cli.zip"
      Expand-Archive -Path "browserstack-cli.zip" -DestinationPath "." -Force

      # Download Sample Tests (Remove if you have your own)
      curl -L https://github.com/browserstack/browserstack-playwright-load-testing-sample/archive/refs/heads/CI/CD-Sample-Playwright.tar.gz `
        | tar -xz --strip-components=1

      .\browserstack-cli.exe load run
    displayName: Windows Download & Run BrowserStack
    condition: eq(variables['Agent.OS'], 'Windows_NT')
    env:
      BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
      BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)

  - task: PublishTestResults@2
    displayName: Publish JUnit Report
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: |
        reports-*/browserstack-load-test-report-*.xml

  - pwsh: |
      Write-Host "Post action"
    displayName: Post Report
    condition: succeeded()
