
  trigger:
    - main
  
  pool:
    vmImage: ubuntu-latest # Can be changed later to windows-latest / macos-latest
  
  jobs:
    - job: load_test
      displayName: Load Test  
  
      steps:
      - checkout: self
  
      # =========================
      # UNIX (Linux + macOS)
      # =========================
      - bash: |
          echo "Running on Unix agent: $(uname -s)"
  
          OS="$(uname -s)"
          ARCH="$(uname -m)"
  
          [[ "$OS" == "Darwin" ]] && OS="macos" || OS="linux"
          [[ "$ARCH" == "arm64" ]] && ARCH="arm64" || ARCH="x64"
  
          DOWNLOAD_URL="https://load-api.browserstack.com/api/v1/binary?os=${OS}&arch=${ARCH}"
              
          echo "OS=$OS | ARCH=$ARCH | DOWNLOAD_URL=$DOWNLOAD_URL"
          echo "Downloading BrowserStack Binary..."
          
          curl -fL "$DOWNLOAD_URL" -o browserstack-cli.zip
          unzip -oq browserstack-cli.zip
          chmod +x browserstack-cli
  
          ./browserstack-cli load run  --projectName="Thresholds Sanity" --entityName="Thresholds Failure Test"
        displayName: Unix Download & Run BrowserStack Binary
        condition: ne(variables['Agent.OS'], 'Windows_NT')
        env:
          BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
          BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
  
      # =========================
      # WINDOWS
      # =========================
      - pwsh: |
          Write-Host "Running on Windows agent"
  
          $downloadUrl = "https://load-api.browserstack.com/api/v1/binary?os=win&arch=x64"
          Write-Host "Downloading BrowserStack Binary..."
  
          Invoke-WebRequest -Uri "${downloadUrl}" -OutFile "browserstack-cli.zip"
          Expand-Archive -Path "browserstack-cli.zip" -DestinationPath "." -Force
  
          .\browserstack-cli.exe load run  --projectName="Thresholds Sanity" --entityName="Thresholds Failure Test"
        displayName: Windows Download & Run BrowserStack
        condition: eq(variables['Agent.OS'], 'Windows_NT')
        env:
          BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
          BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
  
      - task: PublishTestResults@2
        displayName: Publish JUnit Report
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: JUnit
          testResultsFiles: |
            reports-*/browserstack-load-test-report-*.xml
  
      # Sample Stage
      - pwsh: |
          Write-Host "Post action"
        displayName: Post Action
        condition: succeeded() 
