# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: local-pz-mac

jobs:
- job: load_test
  displayName: Load Test  # change later to windows-latest / macos-latest

  steps:
  - checkout: self

  # =========================
  # UNIX (Linux + macOS)
  # =========================
  - bash: |
      set -euo pipefail

      echo "Running on Unix agent: $(uname -s)"

      OS="$(uname -s)"
      ARCH="$(uname -m)"

      [[ "$OS" == "Darwin" ]] && OS="macos" || OS="linux"
      [[ "$ARCH" == "arm64" ]] && ARCH="arm64" || ARCH="x64"

      ZIP="binary-${OS}-${ARCH}-1.1.1-lts-cicd2.zip"
      BIN="binary-${OS}-${ARCH}"

      curl -fL "https://sdk-assets.bsstag.com/${ZIP}" -o bs.zip
      unzip -oq bs.zip

      mv "$BIN" browserstack-cli
      chmod +x browserstack-cli

      curl -L https://github.com/browserstack/browserstack-playwright-load-testing-sample/archive/refs/heads/CI/CD-Sample-Playwright.tar.gz \
        | tar -xz --strip-components=1
      
      ls -a
      ./browserstack-cli load run --projectName="Default Project" --entityName="dwcw"
    displayName: Unix Download & Run BrowserStack
    condition: ne(variables['Agent.OS'], 'Windows_NT')
    env:
      BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
      BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)

  # =========================
  # WINDOWS
  # =========================
  - pwsh: |
      Write-Host "Running on Windows agent"

      $zip = "binary-win-x64-1.1.1-lts-cicd2.zip"
      $url = "https://sdk-assets.bsstag.com/$zip"

      Invoke-WebRequest $url -OutFile bs.zip
      Expand-Archive bs.zip -Force

      Copy-Item browserstack-cli/binary-win-x64.exe browserstack-cli.exe

      curl -L https://github.com/browserstack/browserstack-playwright-load-testing-sample/archive/refs/heads/CI/CD-Sample-Playwright.tar.gz `
        | tar -xz --strip-components=1

      .\browserstack-cli.exe load run
    displayName: Windows Download & Run BrowserStack
    condition: eq(variables['Agent.OS'], 'Windows_NT')

  - task: PublishTestResults@2
    displayName: Publish JUnit Report
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: |
        reports-*/browserstack-load-test-report-*.xml

  - bash: |
      echo "Hello World"
    displayName: Post Report
    condition: ne(variables['Agent.OS'], 'Windows_NT')
    env:
      BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
      BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
